.cart-wrapper {
    background-color: var(--background-color-one);
    width: calc(80% - 2rem);
    margin: auto;
    margin-top: 1rem;

    display: flex;
    flex-direction: column;
    border-radius: 16px;
    padding: 1rem;

    .cart-title {
        font-size: 1.5rem;
        margin-bottom: 1rem;
        font-weight: bold;
    }

    .cart-item {
        position: relative;
        border-top: 1px solid var(--gray-text);
        border-bottom: 1px solid var(--gray-text);
        padding: 1rem;

        display: flex;
        align-items: center;

        .cart-item-image {
            width: 10rem;
            height: 10rem;
            object-fit: cover;
            border-radius: 8px;
        }

        h1 {
            font-size: 1.25rem;
            margin-bottom: 1rem;
            font-weight: bold;
        }

        .cart-item-quantity{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            display: flex;

            input {
                border-radius: 16px 8px 8px 16px;
                border: 1px solid var(--gray-text);
            }

            button {
                background-color: var(--call-to-action-background);
                color: var(--call-to-action-text);
                padding: 0.5rem 1rem;
                border-radius: 8px 16px 16px 8px;
                transform: translateY(1rem);
                height: 100%;
                transition: ease-in-out .2s all;

                &:hover {
                    background-color: var(--call-to-action-background-hover);
                    border-radius: 16px;
                }
            }
        }


        .product-remove-from-cart {
            position: absolute;
            top: 50%;
            right: 1rem;
            background-color: var(--call-to-action-background);
            color: var(--call-to-action-text);
            padding: 0.5rem 1rem;
            border-radius: 8px ;
            transform: translateY(-50%);
            transition: ease-in-out .2s all;

            &:hover {
                background-color: var(--call-to-action-background-hover);
                border-radius: 16px;
            }
        }
    }
}
