.home-page {
    .review-wrapper {
        display: flex;
        flex-wrap: wrap;
        gap: 1.5rem;

        .review-item {
            background-color: var(--background-color-one);
            padding: 1rem;
            border-radius: 0.5rem;
            display: flex;
            flex-direction: column;

            .review-content {
                font-size: 1rem;
                margin-bottom: 0.5rem;
            }

            .reviewer-name {
                font-size: 0.8rem;
            }
        }
    }
}