:root {
    --background-color: rgb(243, 244, 246);
    --background-color-one: rgb(255, 255, 255);
    --background-color-two: rgb(255, 255, 255);

    --input: var(--background-color);

    --header-text: rgb(17, 24, 39);
    --gray-text: rgb(101, 117, 134);
    --button-text: var(--background-color);
}

@media (prefers-color-scheme: dark) {
    :root {
        --background-color: rgb(17, 24, 39);
        --background-color-one: rgb(31, 41, 55);
        --background-color-two: rgb(55, 65, 81);

        --input: var(--background-color);

        --header-text: rgb(244, 244, 244);
        --gray-text: rgb(156, 163, 175);
        --button-text: var(--background-color);
    }
}


.input-wrapper{
    max-width: 100%;
    position: relative;

    margin: 1rem;

    // If the input is in focus, place the label above the input
    // Also do this if the input has a value

    label {
        position: absolute;
        top: 0;
        left: 0;
        color: var(--gray-text);
        padding: .5rem 0 0 .75rem;
        z-index: 10;

        transition: all .2s;
    }


    input, textarea, select {
        width: 100%;

        max-width: 100%;
        background-color: var(--background-color-two);
        border: 1px solid var(--input);
        color: var(--header-text);

        border-radius: 8px;

        &:focus+label,
        &:not(:placeholder-shown)+label {
            color: var(--header-text);
            transform: translateY(-.5rem);
            font-size: .75rem;
            background-color: var(--input);
            padding: 0 .5rem;
            border-radius: 8px;
        }
    }
}


.btn {
    background-color: var(--background-color-two);
    color: var(--header-text);
    padding: 0.5rem 1.5rem;
    margin: 0 1rem;
    border-radius: 8px;
    cursor: pointer;
    border: 1px solid var(--input);

    transition: ease-in-out .2s all;

    &:hover {
        border-radius: 32px;
        background-color: var(--background-color);
    }
}
